header{
    background-color: #594CD8;
    color: white;
    height: 110px;
    width: 100%;
    font-weight: 900;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}